html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px; 
	padding: 0 10px; 
}

/* Header */
.header {
  height: 800px;
  text-align: center;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg")center center;
  background-size: cover;
  color: white;
  background-color: black;
}

.header .container {
	position: relative;
	top: 200px;
}

.header h1 {
	font-size: 80px;
	line-height: 100px; 
	margin-top: 0;
	margin-bottom: 80px;
}

@media (min-width:850px) {
	.header h1 {
		font-size: 120px;
	}
}

.header p {
	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
}

.btn {
 	color: white;
  background-color: black;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
  
}

.btn:hover {
	background: #117bff;
	cursor: pointer; 
	transition: background .5s;  
}


/* Nav */
.nav {
 	background-color: black;
  height: 75px;
  color: white;
}
.nav ul {
	list-style: none;
	margin: 0 auto; 
	padding: 30px 0;
	text-align: center;
}

.nav ul li {
 	 display: inline;
   padding: 5px;
}

.nav .container {
 	float: left; 
}

/* Main */
.main .container {
	margin: 80px auto;
}

.main img {
 	float: left;
  overflow: hidden;
  margin: 40px 75px 5px 10px;
}

/* Jumbotron */
.jumbotron {
	height: 600px; 
	text-align: right;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg) center center;
	background-size: cover;
}

.jumbotron .container {
	position: relative;
	top: 220px;
}

.jumbotron > div {
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: 10%;
  transform: translate(-50%, -50%);
  line-height: 35px;
}


/* Footer */
.footer { 
	font-size: 14px;
  background-color: black;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
}

/* Media Queries */
@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}